body {
    font-family: 'museo-sans', sans-serif, 'helvetica';
}


/*header*/

header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
}

header li:first-child {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 1em;
    border-bottom: 1px solid #A5C3C3;
    height: 4.5em;
    background-color: #fff;
}

header li img:nth-child(1) {
    width: 4.5em;
    height: 4.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#download {
    height: auto;
    width: 2.7em;
    position: absolute;
    right: 1em;
    top: 10%;
}


/*    download button kleiner maken*/

header img:nth-child(2) {
    height: 2em;
    width: auto;
}

.download {
    height: 2em;
    width: auto;
}

h1,
h5 {
    display: inline-block;
    margin-top: 4em;
}

h5 {
    margin-left: .5em;
}


/*verhalen*/

article {
    font-size: 1em;
    border: 1px solid;
    background-color: #fff;
    padding-top: 0;
    margin-top: 4em;
}

article {
    border: 1px solid #7F8081;
    padding-bottom: 1rem;
    margin: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.preview {
    font-size: .7em;
    grid-column: 1 / 2;
    padding-left: 1.8em;
}

h3 {
    padding-left: 1em;
    margin: 0;
}

article img:first-of-type {
    /*afbeelding breedte van article*/
    width: 100%;
    height: 10em;
    object-fit: cover;
    /*midden van afbeelding alleen laten zien*/
    object-position: center center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

p i:last-of-type {
    padding-right: 0.5em;
}

article img:last-child {
    width: 100%;
    height: auto;
    width: 1.7em;
}

article button {
    align-self: flex-end;
    object-position: right bottom;
    font-size: inherit;
    background-color: transparent;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border: none;
    padding-left: 5em;
    padding-top: 2em;
}

footer p {
    color: #FCDE72;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

article p:first-of-type {
    color: #FCDE72;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-top: 7.5em;
}

article p:nth-of-type(3) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 0;
    margin-left: 1em;
    margin-top: 7.5em;
    width: 7em;
    height: 2em;
    background-color: #982682;
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding-top: .5em;
}
